<li class="flex flex-wrap justify-between items-center bg-gray-100 p-4 rounded-lg">
    <div class="flex items-center space-x-4">
        <fa-icon [icon]="['fas', 'exchange-alt']" class="h-6 w-6 text-gray-500"></fa-icon>
        <div class="w-full md:w-auto">
            <p class="text-sm font-semibold text-gray-700">{{ transaccion.concepto }}</p>
            <!-- Trunca el texto si es demasiado largo -->
            <p class="text-xs text-gray-500 truncate w-48 md:w-auto">{{ transactionLabel }}</p>
            <p class="text-xs text-gray-500">{{ transaccion.fechaTransaccion }}</p>
        </div>
    </div>
    <p class="text-lg font-semibold" [ngClass]="isDeposit ? 'text-green-600' : 'text-red-600'">
        {{ isDeposit ? '+' : '-' }} Q{{ transaccion.monto }}
    </p>
</li>