<div class="p-6">
    <!-- Encabezado de Reportes y botón Generar Reporte -->
    <div class="flex flex-col md:flex-row items-center justify-between mb-8">
        <h2 class="text-3xl font-semibold text-gray-700 tracking-wide">📊 Reportes</h2>
        <button (click)="generarReporte()"
            class="mt-4 md:mt-0 bg-gradient-to-r from-green-500 to-green-600 text-white px-5 py-2 rounded-full font-medium hover:from-green-600 hover:to-green-700 focus:outline-none focus:ring-4 focus:ring-green-400 shadow-lg transition ease-in-out duration-300 flex items-center">
            <fa-icon [icon]="['fas', 'file-download']" class="mr-2"></fa-icon>
            Generar Reporte
        </button>
    </div>

    <!-- Selección de Tipo de Reporte -->
    <div class="mb-8">
        <label for="reporteTipo" class="block text-md font-medium text-gray-600 mb-2">Seleccionar Tipo de
            Reporte</label>
        <select id="reporteTipo" [(ngModel)]="selectedReportType" (change)="onReportTypeChange()"
            class="block w-full md:w-1/3 px-4 py-3 rounded-lg border border-gray-300 shadow focus:border-green-400 focus:ring-2 focus:ring-green-300 focus:outline-none bg-gray-50 transition ease-in-out duration-300">
            <option *ngFor="let reportType of reportTypes" [value]="reportType">{{ reportType }}</option>
        </select>
    </div>

    <!-- Filtros dinámicos -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div *ngIf="showUserFilter" class="flex flex-col">
            <label for="usuario" class="text-md font-medium text-gray-600 mb-2">Seleccionar Usuario</label>
            <select id="usuario" [(ngModel)]="selectedUser"
                class="px-4 py-3 border border-gray-300 rounded-lg shadow focus:border-green-400 focus:ring-2 focus:ring-green-300 focus:outline-none bg-gray-50 transition ease-in-out duration-300">
                <option *ngFor="let user of usuarios" [value]="user.id">{{ user.email }}</option>
            </select>
        </div>
        <div *ngIf="showDateFilter" class="flex flex-col">
            <label for="fechaInicio" class="text-md font-medium text-gray-600 mb-2">Fecha de Inicio</label>
            <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio"
                class="px-4 py-3 border border-gray-300 rounded-lg shadow focus:border-green-400 focus:ring-2 focus:ring-green-300 focus:outline-none bg-gray-50 transition ease-in-out duration-300">
        </div>
        <div *ngIf="showDateFilter" class="flex flex-col">
            <label for="fechaFin" class="text-md font-medium text-gray-600 mb-2">Fecha de Fin</label>
            <input type="date" id="fechaFin" [(ngModel)]="fechaFin"
                class="px-4 py-3 border border-gray-300 rounded-lg shadow focus:border-green-400 focus:ring-2 focus:ring-green-300 focus:outline-none bg-gray-50 transition ease-in-out duration-300">
        </div>
        <div *ngIf="showRoleFilter" class="flex flex-col">
            <label for="rol" class="text-md font-medium text-gray-600 mb-2">Rol</label>
            <select id="rol" [(ngModel)]="selectedRole"
                class="px-4 py-3 border border-gray-300 rounded-lg shadow focus:border-green-400 focus:ring-2 focus:ring-green-300 focus:outline-none bg-gray-50 transition ease-in-out duration-300">
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
        </div>
    </div>


    <!-- Totales (visible solo para ciertos reportes) -->
    <div *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
        class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6 p-4 bg-gray-50 shadow rounded-lg">
        <div class="text-center p-4 border rounded-lg bg-white">
            <h4 class="text-sm font-semibold text-gray-600">Total Transacciones</h4>
            <p class="text-xl font-bold text-gray-800">Q{{ totalTransacciones }}</p>
        </div>
        <div class="text-center p-4 border rounded-lg bg-white">
            <h4 class="text-sm font-semibold text-gray-600">Total Recargas</h4>
            <p class="text-xl font-bold text-green-600">Q{{ totalRecargas }}</p>
        </div>
        <div class="text-center p-4 border rounded-lg bg-white">
            <h4 class="text-sm font-semibold text-gray-600">Total Retiros</h4>
            <p class="text-xl font-bold text-red-600">Q{{ totalRetiros }}</p>
        </div>
    </div>


    <!-- Totales (visible solo para el reporte de 'Ganancias') -->
    <div *ngIf="selectedReportType === 'Ganancias'" class="flex justify-center mb-6 p-4 bg-gray-50 shadow rounded-lg">
        <div class="text-center p-6 border rounded-lg bg-white max-w-xs w-full">
            <h4 class="text-lg font-semibold text-gray-700 mb-2">Total En Comisiones</h4>
            <p class="text-2xl font-bold text-green-600">Q{{ totalRetiros | number: '1.2-2' }}</p>
        </div>
    </div>


    <!-- Tabla de Reportes -->
    <div class="overflow-x-auto">

        <!-- Primera tabla (siempre visible) con título -->
        <h3 *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
            class="text-lg font-bold text-gray-800 mb-2">Transacciones</h3>
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                    <th *ngFor="let col of displayedColumns" class="py-3 px-6 text-left">{{ col }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let item of reportData" class="border-b border-gray-200 hover:bg-gray-50">
                    <td *ngFor="let col of displayedColumns"
                        class="py-3 px-6 text-left max-w-xs whitespace-normal break-words">
                        <!-- Verificamos si es la columna de Estado para aplicar estilos específicos -->
                        <ng-container *ngIf="col === 'Estado'; else roleOrDefaultCell">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                                [ngClass]="getNestedValue(item, columnMap[col]) ? 'bg-red-100 text-red-800' : 'bg-green-100 text-green-800'">
                                {{ getNestedValue(item, columnMap[col]) ? 'Eliminado' : 'Activo' }}
                            </span>
                        </ng-container>

                        <!-- Verificamos si es la columna de Rol para aplicar color específico según el rol -->
                        <ng-template #roleOrDefaultCell>
                            <ng-container *ngIf="col === 'Rol'; else defaultCell">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                                    [ngClass]="getNestedValue(item, columnMap[col]) === 'ADMIN' ? 'bg-yellow-100 text-yellow-800' : 'bg-green-100 text-green-800'">
                                    {{ getNestedValue(item, columnMap[col]) }}
                                </span>
                            </ng-container>
                            <ng-template #defaultCell>
                                {{ getNestedValue(item, columnMap[col]) }}
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Segunda tabla (visible solo para ciertos reportes) con título -->
        <h3 *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
            class="text-lg font-bold text-gray-800 mt-6 mb-2">Recargas</h3>
        <table *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
            class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                    <th *ngFor="let col of displayedColumnsRecargas" class="py-3 px-6 text-left">{{ col }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let item of reportDataRecarga" class="border-b border-gray-200 hover:bg-gray-50">
                    <td *ngFor="let col of displayedColumnsRecargas"
                        class="py-3 px-6 text-left max-w-xs whitespace-normal break-words">
                        {{ getNestedValue(item, columnMapRecargas[col]) }}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Tercera tabla (visible solo para ciertos reportes) con título -->
        <h3 *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
            class="text-lg font-bold text-gray-800 mt-6 mb-2">Retiros</h3>
        <table *ngIf="selectedReportType === 'Historico de Movimientos Por Usuario' || selectedReportType === 'Ingresos/Egresos'"
            class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead>
                <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                    <th *ngFor="let col of displayedColumnsRetiros" class="py-3 px-6 text-left">{{ col }}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let item of reportDataRetiros" class="border-b border-gray-200 hover:bg-gray-50">
                    <td *ngFor="let col of displayedColumnsRetiros"
                        class="py-3 px-6 text-left max-w-xs whitespace-normal break-words">
                        {{ getNestedValue(item, columnMapRetiros[col]) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>